.character-detail-card {
    width: 500px;
    align-self: center;
    padding: 30px;
}

.character-detail-svg {
    width: 350px;
    padding: 30px;
}

.character-detail-bmp {
    width: 350px;
    padding: 30px;
}

/* 反转 */
.inverted {
	filter: invert(100%);
}