<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <a mat-button routerLink="/">
        <span>Penote</span>
      </a>
      <a *ngIf="isSignin()" mat-button routerLink="/personal">
        个人
      </a>
      <a mat-button routerLink="/help">
        帮助
      </a>
      <a mat-button routerLink="/about">
        关于
      </a>
      <!-- 分隔 -->
      <div class="flex-spacer"></div>
      <!-- 按钮 -->
      <a *ngIf="!isSignin()" mat-button (click)="signinClick()">
        登入
      </a>
      <a *ngIf="!isSignin()" mat-button (click)="signupClick()">
        注册
      </a>
      <a *ngIf="isSignin()" mat-button (click)="signoutClick()">
        登出
      </a>
      <a *ngIf="isSignin()" mat-button routerLink="/create-post">
        <span>创建文章</span>
      </a>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>