img {
    width: 60px;
    height: 60px;
    border: solid 1px;
    float: left;
}

span {
    padding-top: 5px;
    padding-left: 5px;
    vertical-align: -webkit-baseline-middle;
    align-self: center;
}

a {
    width: 60px;
    height: 60px;
}