/* 自带主题 */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  align-content: center;
}

.basic-container {
  padding: 30px;
}